.input_head{
    display: flex;
     /* align-items: center; */
    justify-content: space-between;
    margin-bottom: 20px;
  }
  #output{
    background-color: black;
    color: white;
    width: 99vw;
    margin-top: 8px;
  }
  #languages{
    margin-right: 1rem;
    border: none;
  }
  #languages:focus-visible{
   outline: none;
  }
  
  
  
  /* CSS */
  .button-2 {
    background-color: rgb(235, 201, 8);
    border-radius: 8px;
    border-width: 0;
    color: #333131;
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    list-style: none;
    margin: 0 4px 0 8px;
    padding: 10px 12px;
    text-align: center;
    transition: all 200ms;
    vertical-align: baseline;
    white-space: nowrap;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  textarea{
    border-color: transparent;
  }
  textarea:focus-visible{
    outline: none;
  }
  
  .line-number{
    background-color: rgb(199, 195, 195);
    max-width: 2rem;
    text-align: right;
    padding-right: 10px;
    color: grey;
  }
  .dis_container{
    display: flex;
    width: 99vw;
    height: 60vh;
    margin-bottom: 8px;
  }
  #input{
    background-color: rgb(238, 229, 229);
    width: inherit;
  }